*.xml
*.pyc
*.iml
**/__pycache__/
#idea folder
.idea/
.DS_Store
*.sqlite3
#virtual environment file
.venv
#frontend file
frontend/node_modules
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
