@import url("https://fonts.googleapis.com/css?family=Lexend+Deca");

/* Colour palette :#000, #21222c, #6cf3c3, #a5adb1*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "Lexend Deca", "Montserrat" !important;
  vertical-align: baseline;
  font-weight: 800 !important;
  letter-spacing: -0.04ch !important;
  /* color: #000 !important; */
}

/* Sign In Page */
.sign-in-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 8% !important;
  padding-bottom: 5% !important;
}

.sign-in-h1 {
  font-size: 24px !important;
  color: #a5adb1 !important;
}

.sign-in-logo-container {
  width: 100%;
}

.sign-in-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  max-width: 300px;
  margin-bottom: 30%;
  margin-top: 25%;
}

.sign-in-h2 {
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: 800 !important;
  font-size: 18px !important;
  color: #a5adb1 !important;
  text-align: left !important;
}

.sign-in-container2 {
  padding-top: 5% !important;
}

.sign-in-box {
  margin-top: 50px !important;
}

.sign-in-link {
  color: #222 !important;
}

.sign-in-button {
  background-color: #21222c !important;
  padding: 20px !important;
  font-weight: 800 !important;
  letter-spacing: -0.04ch !important;
  transition: 0.4s ease-in-out !important;
}

.sign-in-button:hover {
  background-color: #6cf3c3 !important;
  color: #21222c !important;
}

/* Home Page */
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #6cf3c3 !important;
  letter-spacing: -0.04ch !important;
  font-weight: 800 !important;
}

.css-1b008ma-MuiDivider-root {
  border-color: #ffffff17 !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  letter-spacing: -0.04ch !important;
  font-weight: 800 !important;
  text-transform: inherit !important;
  font-size: 15px !important;
  color: white !important;
  font-family: "Lexend Deca", "Montserrat" !important;
}

.css-1aquho2-MuiTabs-indicator {
  background-color: #6cf3c3 !important;
}

.css-f6cijq {
  background-color: #21222c !important;
}

.css-1v32fr3-MuiPaper-root {
  background-color: #21222c !important;
}

.add-item-button {
  background-color: #21222c !important;
  font-size: 14px !important;
  font-weight: 800 !important;
  letter-spacing: -0.04ch !important;
  padding: 15px 25px !important;
  transition: 0.4s ease-in-out !important;
  border-radius: 50px !important;
}
.add-item-button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  padding: 3px;
  background: linear-gradient(45deg, #92f7fe, #09d670);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.add-item-button:hover {
  background-color: #6cf3c3 !important;
}

.search-bar {
  min-width: 250px !important;
  width: 45% !important;
}

.search-icon {
  color: #21222c !important;
}

.css-16vq84g-MuiPaper-root-MuiCard-root {
  background-color: #ffffff17 !important;
  border-radius: 15px !important;
  color: white !important;
}

.css-1knaqv7-MuiButtonBase-root-MuiButton-root {
  color: #6cf3c3 !important;
  letter-spacing: -0.04ch !important;
  font-weight: 800 !important;
}

.css-16vq84g-MuiPaper-root-MuiCard-root {
  transition: 0.4s ease-in-out !important;
}

.css-16vq84g-MuiPaper-root-MuiCard-root:hover {
  transform: scale(1.03);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}
.item-status{
  background-color: #2dd197 !important;
  color: #21222c !important;
  padding: 15px 15px;
  font-size: 14px;
  width: 100%;
  font-family: "Lexend Deca", "Montserrat" !important;
}
.item-name {
  font-size: 17px !important;
  color: #fff !important;
}

.item-category {
  color: #21222c !important;
  background-color: #2dd197 !important;
  padding: 7px 15px !important;
  margin-bottom: 5px !important;
  width: fit-content !important;
  cursor: default;
  font-size: 13px !important;
  transition: 0.4s ease-in-out !important;
  cursor: default;
}

.item-description {
  font-size: 15px !important;
  color: #6cf3c3 !important;
  background-color: #21222c !important;
  margin-bottom: 5px !important;
  padding: 7px 15px !important;
  width: fit-content !important;
  font-weight: 300 !important;
  transition: 0.4s ease-in-out !important;
  cursor: default;
}

.item-description:hover {
  color: #21222c !important;
  background-color: #2dd197 !important;
}

.item-category:hover {
  color: #2dd197 !important;
  background-color: #21222c !important;
}
.claim-button {
  background-color: #6cf3c3 !important;
  padding: 10px 30px !important;
  color: #21222c !important;
  font-weight: 800 !important;
  transition: 0.4s ease-in-out !important;
  max-width: 250px !important;
  margin-bottom: 10px !important;
  display: block !important;
  border-radius: 7px !important;
  border: none !important;
  font-family: "Lexend Deca", "Montserrat" !important;
}

.claim-button:hover {
  background-color: #21222c !important;
  color: #6cf3c3 !important;
}
.popup-modal {
  border: none !important;
  background-color: #35363f !important;
  border-radius: 15px !important;
  min-width: 500px !important;
  width: 35% !important;
  overflow: hidden !important;
}

.popup-content-container {
  padding-top: 15px !important;
}
/* App Drawer */
.css-cvumne-MuiDrawer-docked .MuiDrawer-paper {
  background-color: #21222c !important;
  color: #fff !important;
}

.css-aq1gdx-MuiDrawer-docked .MuiDrawer-paper {
  background-color: #21222c !important;
  color: #fff !important;
}

.side-nav .css-i4bv87-MuiSvgIcon-root,
.side-nav-chevronlefticon {
  color: #fff !important;
}

.drawer-logo {
  max-width: 50px;
  margin: 10px 25px 10px 10px;
}

.drawer-h1 {
  text-transform: uppercase;
  font-size: 0.8em !important;
}


/* Add Item modal */
.add-item-container .css-1t1j96h-MuiPaper-root-MuiDialog-paper{
  background-color: #21222c !important;
  color: #fff !important;
  max-width: 500px !important;
  width: 90% !important;
  padding: 30px 20px !important;
  border-radius: 25px !important;
}

.add-item-container .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused,
.add-item-container .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select,
.add-item-container .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input,
.add-item-container .css-1sqnrkk-MuiInputBase-input-MuiOutlinedInput-input,
.add-item-container .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input,
.add-item-container .css-i4bv87-MuiSvgIcon-root,
.add-item-container .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root,
.add-item-container .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root,
.add-item-container .css-hfutr2-MuiSvgIcon-root-MuiSelect-icon{
  color: #fff !important;
}
.add-item-container .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root,
.add-item-container .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root,
.add-item-container .css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root,
.add-item-container .css-a643pv-MuiStack-root{
  background-color: #35363f !important;
  border-radius: 10px !important
}

.add-item-container .css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
  width: 100%;
}

.add-item-container .css-d3wcwz-MuiTypography-root{
  margin-bottom: 7px !important;
}

.upload-file-btn{
  background-color: #6cf3c3 !important;
  padding: 10px 15px !important;
  color: #21222c !important;
  font-weight: 800 !important;
  letter-spacing: -0.04ch !important;
  transition: 0.4s ease-in-out !important;
  max-width: 250px !important;
}

.upload-file-btn:hover {
  background-color: #21222c !important;
  color: #6cf3c3 !important;
}
/* Edit Profile Page */
.edit-profile-container {
  color: #fff !important;
  max-width: 800px !important;
  margin: auto !important;
  background-color: #35363f !important;
  padding: 30px 20px !important;
  border-radius: 25px !important;
}

.edit-profile-button {
  background-color: #6cf3c3 !important;
  padding: 10px !important;
  color: #21222c !important;
  font-weight: 800 !important;
  letter-spacing: -0.04ch !important;
  transition: 0.4s ease-in-out !important;
  max-width: 250px !important;
  margin: 20px auto !important;
  display: block !important;
}

.edit-profile-button:hover {
  background-color: #21222c !important;
  color: #6cf3c3 !important;
}

.edit-profile-form .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root,
.edit-profile-form .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input,
.edit-profile-form .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color: #fff !important;
}

.edit-profile-form .css-17vbkzs-MuiFormControl-root-MuiTextField-root{
  background-color: rgb(68, 69, 78) !important;
  border-radius: 10px !important;
}

